* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  background: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 768px) {
  .nav-heading {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
    position: relative;
  }

  .nav-toggle {
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    background: transparent;
    border-color: transparent;
    border: none;
    outline: none;
    transition: all 0.3s linear;
    cursor: pointer;
  }
  .nav-toggle:hover {
    color: hsl(205, 86%, 17%);
    transform: rotate(90deg);

    border: none;
    outline: none;
  }

  .logo {
    height: 40px;
  }

  .links a {
    color: hsl(209, 34%, 30%);
    font-size: 1rem;
    text-transform: capitalize;
    letter-spacing: 0.1rem;
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.3s linear;
    text-decoration: none;
  }

  .links a:hover {
    background: hsl(205, 86%, 81%);
    color: hsl(205, 78%, 60%);
    padding-left: 1.5rem;
  }

  .links {
    height: 0;
    overflow: hidden;
    transition: all 0.3s linear;
  }
  .show-links {
    height: 10rem;
  }
}
